    <h2 id="about-gabor">About Gabor Szabo</h2>

    <div id="about-container">
    <div id="about-text">
      <img id="about-img" src="/static/szabgab.png" />
      Gabor has been using computers since 1982 when he entered high-school in Hungary. Since then he moved to Israel,
      finished a Bsc in Computer Sciences and an MBA in Information Technology in the Hebrew University of Jerusalem.
      Worked at a number of companies as programmer, system administrator, and automation engineer before he became
      self-employed in 2000.
      <p>
      Since then he provides consulting/contract work services and training in fields that are related to improving
      software development practices and DevOps. This includes version control systems, build systems, test automation,
      automation in general, refactoring code, Continuous Integration, Continuous Deployment, Cloud environments.
      <p>
      These days the term DevOps is used frequently.
      <p>
      For a very long time the main language for many of these tasks were Perl and thus Gabor was deeply involved in
      both the international and the Israeli Perl community. Today the main language used in these fields is Python
      and thus Gabor is involved in the Python community.
      <p>
      You can find more information about him on his <a href="https://szabgab.com/">personal site</a> or via his
      <a href="https://www.linkedin.com/in/szabgab/">LinkedIN profile</a>.
    </div>
    </div>

