<html>
<head>
  <meta name=description content="Host Local Training sessions for Git, Python, Test Automation, Jenkins, DevOps, Google and Amazon Cloud">
  <meta name=keywords content="DevOps, Git, Testing, Jenkins, Continuous Integration, GCP Google Cloud, AWS Amazon Cloud, Training in Israel">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/style.css?date={{css_date}}">
  {% if rtl %}
    <link href="/static/rtl.css" rel="stylesheet">
  {% endif %}
  <title>{{ page_title }}</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12199211-38"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-12199211-38');
</script>

</head>
<body>

<div id="main">
  <div class="banner">
     <div><a href="/">Host Local Training</a></div>
     <div class="banner-text">
       in Israel
       <br>
       Git, Google Cloud, CI/CD, Jenkins, Test Automation, Linux, Python, DevOps
     </div>
  </div>
  <hr>


