<html>
<head>
  <meta name=description content="Hostlocal Ltd. Web site development, databases, CGI scripts.">
  <meta name=keywords content="Perl development, CGI, LWP, DBI, programming perl, databases, Perl training in Israel">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>Host Local Training courses for DevOps, in Git, Linux, Jenkins CI, Test Automation, Python</title>
</head>
<body>

<div id="main">
  <div class="banner">
     <div>Host Local Training</div>
     <div class="banner-text">
       DevOps
       <br>
       Git, Google Cloud, Test Automation, Linux, Python, Perl
     </div>
  </div>
  <hr>


