{% include 'incl/header.html' %}

<h2>Consulting and Contract work</h2>

<div class="text">
If you have a <b>small start-up company</b> with 1-15 employees you probably don't need a full-time person to handle
your DevOps related tasks. I help you set up the CI/CD system, introduce the test automation and the cloud usage
in a single project or step-by-step as your company growth. When you reach the point that you need someone to handle
these task I'll happily hand-it of to whoever you have hired.
</div>

<div class="text">
If you work at a <b>mid-sized start-up company</b> (15-100) employees you probably already have some of the processes in
place and you provbably already have a team of people (that might be a team of 1) to handle these task. However you
might want to improve your CI/CD system or introduce new techniques. Hiring a full-time employee might be the right
long-term solution, but for the short term you might want to have someone who can come in and help your team with
DevOps related tasks.
</div>


{% include 'incl/contact.html' %}

{% include 'incl/footer.html' %}

