<html>
  <head>
   <title>Host Local - contact information</title>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <link rel="stylesheet" type="text/css" href="style.css">
</head>

<table width=80% align=center border=0 cellspacing=5>
<tr>
	<td  align=center><b>Hostlocal Ltd.</b>

	</td>
</tr>
<tr>
<td><hr width=80%>
</td>
</tr>

<tr>
<td>
Gabor Szabo<br>
HostLocal Ltd.<br>
Modiin<br>
ISRAEL<br>
</td>
</tr>

<tr><td>
<table>
<tr><td>Phone: </td><td>+972-(0)8-975-2897</td></tr>
<tr><td>Mobile Phone: </td><td>+972-(0)54-4624648</td></tr>
<tr><td>E-mail: </td><td><a href=mailto:gabor@hostlocal.com>gabor@hostlocal.com</a></td></tr>
</table>
</td></tr>
</table>
</body>
</html>
