{% include 'incl/header.html' %}

<h1 id="course_title">{{ course.title }}</h1>

{% if course.text %}
    {% for entry in course.text %}
       {% if entry == '' %}
           <p>
       {% endif %}
       {{ entry|safe }}
    {% endfor %}
{% endif %}

{% if schedule %}
    <h2>{{ title.schedule }}</h2>
    <p>
     Every month there are a few training classes scheduled at areas where many hi-tech companies have offices to make
     it easier for all the employees to attend the courses.
     This course is currently scheduled:

    <ul>
      {% for event in schedule %}
          <li>
              On {{ event.date }}
              in {{ event.location }}
              <b><a href="{{ event.registration }}">registration!</a></b>
          </li>
      {% endfor %}
    </ul>
    </p>
{% endif %}

{% if course.target_audience %}
    <h2>{{ title.audience }}</h2>
    <ul>
    {% for entry in course.target_audience %}
       <li>{{ entry }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if course.prerequisites %}
    <h2>{{ title.prerequisites }}</h2>
    <ul>
    {% for entry in course.prerequisites %}
       <li>{{ entry|safe }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if course.objectives %}
    <h2>{{ title.objectives }}</h2>
    <ul>
    {% for entry in course.objectives %}
       <li>{{ entry }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if course.course_format %}
    <h2>{{ title.format }}</h2>
    <ul>
    {% for entry in course.course_format %}
       <li>{{ entry }}</li>
    {% endfor %}
    </ul>
{% endif %}


{% if course.language %}
    <h2>{{ title.language }}</h2>
    <ul>
    {% for entry in course.language %}
       <li>{{ entry }}</li>
    {% endfor %}
    </ul>
{% endif %}


{% if course.syllabus %}
    <h2>{{ title.syllabus }}</h2>
    <ol>
    {% for part in course.syllabus %}
       <li>{{ part.title }}
          <ul>
              {% for entry in part.entries %}
                  <li>{{ entry }}</li>
              {% endfor %}
          </ul>
       </li>
    {% endfor %}
    </ol>
{% endif %}

{% include 'incl/contact.html' %}


{% include 'incl/footer.html' %}
