{% include 'incl/header.html' %}

<h1 id="course_title">{{ course.title }}</h1>

<h2>Target Audience</h2>
<ul>
{% for entry in course.target_audience %}
   <li>{{ entry }}</li>
{% endfor %}
</ul>

<h2>Prerequisites</h2>
<ul>
{% for entry in course.prerequisites %}
   <li>{{ entry|safe }}</li>
{% endfor %}
</ul>

<h2>Objectives</h2>
<ul>
{% for entry in course.objectives %}
   <li>{{ entry }}</li>
{% endfor %}
</ul>


<h2>Course Format</h2>
<ul>
{% for entry in course.course_format %}
   <li>{{ entry }}</li>
{% endfor %}
</ul>


<h2>Language</h2>
<ul>
{% for entry in course.language %}
   <li>{{ entry }}</li>
{% endfor %}
</ul>


<h2>Syllabus</h2>
<ol>
{% for part in course.syllabus %}
   <li>{{ part.title }}
      <ul>
          {% for entry in part.entries %}
              <li>{{ entry }}</li>
          {% endfor %}
      </ul>
   </li>
{% endfor %}
</ol>

{% include 'incl/contact.html' %}


{% include 'incl/footer.html' %}
