<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">

<title>Hostlocal Ltd.</title>
</head>
<body >

<table width=80% align=center border=0 cellspacing=5>
<tr>
	<td  align=center><b>Web Application Development</b>
	</td>
</tr>
<tr><td align="center"><img src="logo.png" /></td></tr>
<tr>
<td  ><hr width=80%  color=#006699>
</td>
</tr>

<tr>
<td>
Hostlocal helps keeping your customers up to date with your products and services. Enables
your customers and partners to access part of your database in a well defined and secured manner.
<p>
Automated web based systems can reduce expenses and improve customer satisfaction at the
same time.
<p>
The main language I have been using is Perl but I am doing works in PHP as well. Mostly
I use Linux and Apache web server as the platform I am using but I can also work with
IIS and ASP.
<p>
Contact <a href=contact.html>Gabor Szabo</a> to get further information.
</td>
</tr>
</table>
</body>
</html>

