{% include 'incl/header.html' %}
  <div>

{% include 'incl/consulting-link.html' %}

{% include 'incl/schedule.html' %}

    <h2>Available training courses for DevOps engineers</h2>
    <p>
    <ul>
      <li><a href="/eng/linux-for-power-users">Linux for power users</a> (Using the Linux shell)</li>
      <li><a href="/eng/git">Version control with Git for DevOps</a></li>
      <li><a href="/eng/docker">Docker</a></li>
      <li><a href="/eng/jenkins">Setting up Continuous Integration with Jenkins</a></li>
      <li><a href="/eng/google-cloud">Google Cloud</a></li>
      <li><a href="/eng/advanced-git">Advanced Git, methodologies and workflows for DevOps engineers</a></li>
      <li><a href="/eng/github">Using GitHub for DevOps engineers</a></li>
      <li><a href="/eng/bash-scripting">Bash Scripting</a></li>
      <li><a href="/eng/linux-in-virtual-environment">Getting started with Linux in a local virtual environment</a></li>
      <li><a href="/eng/python-programming">Python Programming</a> (beginner level)</li>
      <li><a href="/eng/testing-python">Python: Testing and test-automation in Python</a></li>
    </ul>
    </p>


{% include 'incl/contact.html' %}

{% include 'incl/footer.html' %}

