<HTML><HEAD><TITLE>Resume of Gábor Szabó</TITLE>
<META content="text/html; charset=iso-8859-2" http-equiv=Content-Type>
<STYLE TYPE="text/css">
<!--
H3 { font-size: 17px; font-family: arial }
TD { font-size: 12px; font-family: arial }
PP  { line-height: 16pt }
-->
</STYLE>
</HEAD>
<BODY bgColor=white text=black>
<CENTER><FONT size=+2>Resume of Gábor Szabó</FONT><BR></CENTER>
<TABLE cellspacing=0>
  <TBODY>
  <TR>
    <TD colSpan=2>
      <h3>Personal information</TD>
    </TR>
  <TR>
    <TD width=84><b>Name:</b></TD>
    <TD>Gábor Szabó </TD></TR>
  <TR>
    <TD><B>Born:</B></TD>
    <TD>1967, Budapest, Hungary </TD></TR>
  <TR>
    <TD>&nbsp;</TD>
    <TD></TD></TR>
  <TR>
    <TD><B>Address:</B></TD>
    <TD>23 Migdal HaLevanon Street, Apartment 18, Modiin 71700, Israel</TD></TR>
  <TR>
    <TD><B>Phone:</B></TD>
    <TD>+972-(0)8-9730252 or mobile: +972-(0)54-624648</TD></TR>
  <TR>
    <TD><B>E-mail:</B></TD>
    <TD><A href=mailto:gabor@hostlocal.com>gabor@hostlocal.com</A> </TD></TR>
  <TR>
    <TD colSpan=2>&nbsp; </TD></TR>
  <TR>
    <TD colSpan=2>
      <h3>Work experience</TD></TR>

  <TR vAlign=top>
    <TD><B>1998-present</B> </TD>
    <TD><b>Freelance Internet application developer and system engineer</b> (<a href=http://www.hostlocal.com/>www.hostlocal.com</a>)
      <ul>
      <li>Traceroute and Speed-Meter Gateway system <A href=http://www.tracert.com/>www.tracert.com</A> for
      monitoring performance of web sites and helping resolve technical problems in the Internet.
      More than 50 measurement points installed worldwide.
      <li>Tools used included Perl, C, PostgreSQL, Shell scripts, Apache, various
      distributions of Linux, OpenBSD. Distant management of several Linux
      servers.
      <li>Teaching Perl and UNIX at Interbit <a href=http://www.interbit.co.il/>www.interbit.co.il</a>.
      <li>Development of a distributed database of Internet Service Providers
        <A href=http://www.euisp.com/>www.euisp.com</A> with 6 mirrored version of the site in
        6 different countries.
      <li>Hypolit, an automated, multi-server, add-based free web hosting site. 
      </ul>
      <P></P></TD></TR>

  <TR vAlign=top>
    <TD><B>5-9/2000</B></TD>
    <TD><b>Infrastructure Manager</b> at Goldnames (<a href=http://www.goldnames.com/>www.goldnames.com</a>)
      <ul>
      <li>Setup and administration of the internal infrastructure of the company's computer systems with 60 Win2000 clients,
         2 NT 4.0, 10 Linux and a SUN server. Rebuilding the Intranet and improving security.
      <li>Setup and monitoring 3 versions of the website at various complexity levels: small and static; multilingual
         with 7 languages on a dedicated server; two-tire system with Linux web and application server (JSP with Jakarta) and Oracle database on SUN/Solaris.
      <li>Development and maintenance of a system to hold 35.000 domain names and related websites,
             increasing the daily hit rate by 50% within one week.
      <li>Development of various tools for fast website development including and editor for the 35.000 domain names.
             This provided the company's business team with the capacity to independently make rapid changes to the splash pages.
      <li>Providing various statistics on the performance of the companies different websites.
      <li>Introducing automatization in several parts of the development.
      <li>Training employees and teaching web programming languages (HTML, CGI, Perl, PHP).
      </ul>
      <P></P></TD></TR>


  <TR vAlign=top>
    <TD><B>1997-1998</B> </TD>
    <TD><B>Application and Integration Engineer</B> at Phasecom Ltd. (today Vyyo <A href="http://www.vyyo.com/">www.vyyo.com</A>)

  <ul>
      <li>Evaluating third party technology in order to include them in the networking side of the product.
      <li>Writing Application Notes for the different systems.
      <li>Training the Marketing and the Support team of those implementations.
        Working with switches, routers, VPN Data Encryption (RedCreek, VPNet)
        and Quality Of Service (Packeteer, BandWiz, Allot) devices.
        Accounting information, SNMP managers.
      <li>Designing and developing an asynchronous, telco return system for
          Phasecoms' cable modem system.
  </ul>
      <P></P></TD></TR>

  <TR vAlign=top>

    <TD><B>1996-1997</B> </TD>
    <TD><b>System engineer</b> at AgentSoft (<A href="http://www.agentsoft.com/">www.agentsoft.com</A>)
    <ul>
      <li>Design, setup and maintenance of the companies computer infrastructure from scratch.
      <li>Installation WinNT 4.0 domain based network with Win95 clients.
          Adding UNIX and Macintosh to the system for portability testing.
      <li>Evaluating and setup of version control system and bug tracking system.
    </ul>
      <P></P></TD></TR>

  <TR vAlign=top>

    <TD><B>1994-1996</B></TD>
    <TD><b>Developer and System administrator</b> at Netmanage (<A href="http://www.netmanage.com/">www.netmanage.com</A>) in Jerusalem

    <ul>
      <li><B>Development:</B> Worked on hypertext (SGML) creation, compilation
      and viewing system. Wrote part of a compiler to translate between two
      markup languages.
      <li>Worked on the development of a file mirroring software
      based on FTP written in C++, part of the Chameleon suite.
      <li>Created several internally used interactive Web-pages using shell scripts and
    Perl. (used C, Object Oriented LISP, AWK, VB)
    <li><B>System administration:</B> Lead the transition from a badly
      designed Novell network to an NT domain cross-connected with other offices
      worldwide.
    <li>The administrated local network was composed of several
      Intranet servers and more than 50 PCs each of them configured for three
      operating systems. Installation of Intranet.
    <li><B>Automatization (build and bug tracking system): </B>Implemented
      some major improvements to automate the time consuming tasks of the
      distributed build system and to improve the working environment of the
      engineers. Improved the common bug tracking system (DDTS now ClearCase)
      and the common version control system (PVCS) used by the company.
      </ul>

  <TR vAlign=top>

    <TD><B>1993-1994</B></TD>

    <TD>Project at the R&amp;D center of Digital (<A
      href="http://www.digital.com/">www.digital.com</A>) in
      Jerusalem, writing scripts in C-- </TD></TR>
  <TR vAlign=top>
    <TD><B>1991-1992</B> </TD>
    <TD>Translations from Hebrew for the Hungarian Television (<A
      href="http://www.mtv.hu/">www.mtv.hu</A>).</TD></TR>
  <TR>
    <TD colSpan=2>&nbsp;</TD></TR>
  <TR>
    <TD colSpan=2>
      <H3>Education</TD></TR>
  <TR vAlign=top>
    <TD><B>1997</B></TD>
    <TD>MBA in Finance and Information Systems (IS) at The Hebrew University
      of Jerusalem. </TD></TR>
  <TR vAlign=top>
    <TD><B>1993</B>&nbsp; </TD>
    <TD>BSc. in Computer Sciences and Business Administration at The Hebrew
      University of Jerusalem (<A
      href="http://www.huji.ac.il/">www.huji.ac.il</A>). </TD></TR>
  <TR>
    <TD colSpan=2>&nbsp;</TD></TR>
  <TR>
    <TD colSpan=2>
      <H3>Training courses</TD></TR>
  <TR vAlign=top>
    <TD><B>1995</B></TD>
    <TD>Microsoft University: Supporting Windows NT Server.
      <br>Microsoft University: Administration of Windows NT Domains at Hi-Tech Collage. (<a href=http://www.hi-tech.co.il/>www.hi-tech.co.il</a>)
      <BR>Novell CNA at Sivan. (<a href=http://www.sivan.co.il/>www.sivan.co.il</a>)</TD></TR>
  <TR>
    <TD colSpan=2>
      <H3>Languages</TD>
      </TR>
  <TR>
    <TD></TD>
    <TD>Hungarian (mother tongue), Hebrew (very good), English (very good).
      </TD></TR>
  <TR>
    <TD colSpan=2>
      <H3>Community and other</TD>
      </TR>
  <TR>
    <TD></TD>
    <TD>Maintenance of the Isareli Perl user group <a href=http://www.perl.org.il/>www.perl.org.il</a><br>
    Maintenance of Directory of Perl Training Companies world wide.<a href=http://www.perltraining.org/>www.perltraining.org</a><br>
        (snow-) ski training of children in Mt. Hermon.
      </TD></TR>

  <TR>
    <TD colSpan=2>&nbsp; </TD></TR>
  </TBODY></TABLE></BODY></HTML>

