{% include 'incl/header.html' %}
  <div>

{% include 'incl/consulting-link.html' %}

    <h2>Training</h2>
    <p>
    These training courses can provide a huge productivity boost to the tunes of 5-10%.
    Even if we take the more conservative number and even if we take in account both the cost of the course and the time
    the employee spent on the course you will see a positive return on investment within 2 months. As measured by value
    created to your organization.
<!--
    Training employees is expensive and the cost of the training is actually the small part of it. A much larger expense
    is the time they take off from helping the business. On the long run it pays off as the training makes the employees
    more productive, but it would be even better if they would not need to take a day off to go to training.
-->
    </p>
    <p>
    <b>Host Local</b> provides training in or near your offices and the training days can last a full day or half days as well.
    This allows the employees to spend the hours after lunch working in the company. Even implementing the newly learned
    techniques.
    </p>
    <p>
    Hostlocal Ltd. is run by <a href="#about-gabor">Gabor Szabo</a> who has been consulting and training at hi-tech companies since 2000.
    </p>

   <h2>Major Topics</h2>
   <ul>
       <li><a href="/python-courses">Python Courses</a></li>
       <li><a href="/perl-courses">Perl Courses</a></li>
       <li><a href="/devops-courses">DevOps Courses</a></li>
   </ul>

<!--
    <h2>Free Workshops</h2>
    <p>
    We also organize <a href="https://workshops.code-maven.com/">free workshops</a> for those who would like
    a taste of the courses. Check out the upcoming ones on that page, and consider organizing one at your company.
    <p>
-->

{% include 'incl/schedule.html' %}

    <h2>Available training courses</h2>
    <p>
    <ul>
      <li><a href="/eng/delivery">From idea to delivery in less than 4 hours</a></li>
      <li><a href="/eng/git">Introduction to Git</a></li>
      <li><a href="/eng/advanced-git">Advanced Git, methodologies and workflows</a></li>
      <li><a href="/eng/github">GitHub</a></li>
      <li><a href="/eng/google-cloud">Google Cloud</a></li>
      <li><a href="/eng/docker">Docker</a></li>
      <li><a href="/eng/jenkins">Setting up Continuous Integration with Jenkins</a></li>
      <li><a href="/eng/linux-for-power-users">Linux for power users</a> (Using the Linux shell)</li>
      <li><a href="/eng/linux-in-virtual-environment">Getting started with Linux in a local virtual environment</a></li>
      <li><a href="/eng/bash-scripting">Bash Scripting</a></li>
      <li><a href="/eng/regexes">Learning Regular Expressions</a></li>
      <li><a href="/eng/bootcamp-for-scientists">Programming Bootcamp for Scientist</a></li>
      <li><a href="/eng/perl">Perl Programming (beginner level)</a></li>
      <li><a href="/eng/testing-perl">Perl Testing</a></li>
      <li><a href="/eng/python-programming">Python Programming</a> (beginner level)</li>
      <li><a href="/eng/advanced-python">Python: Advanced Python Programming</a></li>
      <li><a href="/eng/testing-python">Python: Testing and test-automation in Python</a></li>
    </ul>
    </p>

{% include 'incl/previous-clients.html' %}

{% include 'incl/about-gabor.html' %}

{% include 'incl/contact.html' %}

{% include 'incl/footer.html' %}

