{% include 'incl/header.html' %}
  <div>
    <p>
    Training employees is expensive and the cost of the training is actually the small part of it. A much larger expense
    is the time they take off from helping the business. On the long run it pays off as the training makes the employees
    more productive, but it would be even better if they would not need to take a day off to go to training.
    </p>
    <p>
    <b>Host Local</b> provides training in or near your offices and the training "days" usually only last half a day.
    This allows the employees to spend the hours after lunch working in the company. Even implementing the newly learned
    techniques.
    </p>
    <p>
    Hostlocal Ltd. is run by <a href="https://szabgab.com/">Gabor Szabo</a> who has been consulting and trainig at hi-tech companies since 2000.
    </p>

    {% if schedule %}
        <h2>Schedule</h2>
        <p>
         Every month there are a few training classes scheduled at areas where many hi-tech companies have offices to make
         it easier for all the employees to attend the courses.

        <ul>
          {% for event in schedule %}
              <li>
                  <a href="/eng/{{event.course}}">{{ event.title }}</a>
                  on {{ event.date }}
                  in {{ event.location }}
                  <b><a href="{{ event.registration }}">registration!</a></b>
              </li>
          {% endfor %}
        </ul>
        </p>
    {% endif %}

    <h2>Avaialable training courses</h2>
    <p>
    <ul>
      <li><a href="/eng/advanced-git">Advanced Git, methodologies and workflows</a></li>
      <li><a href="/eng/google-cloud">Google Cloud</a></li>
      <li><a href="/eng/docker">Docker</a></li>
      <li><a href="/eng/testing-python">Testing and test-automation in Python</a></li>
      <li><a href="/eng/jenkins">Setting up Continuous Integration with Jenkins</a></li>
      <li><a href="/eng/linux-for-power-users">Linux for power users</a></li>
      <li><a href="/eng/linux-in-virtual-environment">Getting started with Linux in a local virtual environment</a></li>
      <li><a href="/eng/python-programming">Python Programming</a></li>
    </ul>
    </p>

    <h2>Previous clients</h2>
    <p>
    Some of the previous clients:
Actelis,
Aladdin Knowledge Systems,
Amdocs,
Apply Tech,
Assa Abloy (Rav Bariach),
Bezeq International,
BGU/Deutsche Telekom (Israel),
Breach,
Brodmann17,
Cellex,
CEVA DSP,
Cisco,
Checkpoint,
Deutsche Telekom (Germany),
DNV Norway,
Evogene,
ExLibris,
Forescout,
Harmonic systems,
iCarbonX,
Inomize,
Intel,
Iskoot,
Jovial,
LSI,
Mercury Interactive,
Migdal Insurance,
MyThings,
NDS,
Norwegian Meteorological Inst,
Orange (Partner Ltd.),
Orpak,
Perfecto Mobile,
Qualcomm,
Radware,
Sandvine,
SAP,
Screenovate,
SeaBridge Networks - A Siemens company,
Sheer Networks,
Superfish,
Superfly,
Twiggle,
Verint,
Weizmann Institute of Science,
Zoran
    </p>


    <h2>About Gabor Szabo</h2>

    <div id="about-container">
    <div id="about-text">
      <img id="about-img" src="/static/szabgab.png" />
      Gabor has been using computers since 1982 when he entered high-school in Hungary. Since then he moved to Israel,
      finished a Bsc in Computer Sciences and an MBA in Information Technology in the Hebrew University of Jerusalem.
      Worked at a number of companies as programmer, system administrator, and automation engineer before he became
      self-employed in 2000.
      <p>
      Since then he provides consulting/contract work services and training in fields that are related to improving
      software development practices and DevOps. This includes version control systems, build systems, test automation,
      automation in general, refactoring code, Continuous Integration, Continuous Deployment, Cloud environments.
      <p>
      These days the term DevOps is used frequently.
      <p>
      For a very long time the main language for many of these tasks were Perl and thus Gabor was deeply involved in
      both the international and the Israeli Perl community. Today the main language used in these fields is Python
      and thus Gabor is involved in the Python community.
      <p>
      You can find more information about him on his <a href="https://szabgab.com/">personal site</a> or via his
      <a href="https://www.linkedin.com/in/szabgab/">LinkedIN profile</a>.
    </div>
    </div>

{% include 'incl/contact.html' %}

{% include 'incl/footer.html' %}

