{% include 'incl/header.html' %}
  <div>
    <p>
    Training employees is expensive and the cost of the training is actually the small part of it. A much larger expense
    is the time they take off from helping the business. On the long run it pays off as the training makes the employees
    more productive, but it would be even better if they would not need to take a day off to go to training.
    </p>
    <p>
    <b>Host Local</b> provides training in or near your offices and the training "days" usually only last half a day.
    This allows the employees to spend the hours after lunch working in the company. Even implementing the newly learned
    techniques.
    </p>
    <p>
    Hostlocal Ltd. is run by <a href="https://szabgab.com/">Gabor Szabo</a> who has been consulting and trainig at hi-tech companies since 2000.
    </p>
    <h2>Training courses</h2>
    <p>
    <ul>
      <li><a href="/eng/advanced-git">Advanced Git, methodologies and workflows</a></li>
      <li><a href="/eng/google-cloud">Google Cloud</a></li>
      <li>Docker</li>
      <li>Test Automation</li>
      <li><a href="/eng/testing-python">Testing and test-automation in Python</a></li>
      <li>Setting up Continuous Integration with Jenkins</li>
      <li>Using the Linux shell</li>
      <li><a href="/eng/linux-in-virtual-environment">Getting started with Linux in a local virtual environment</a></li>
      <li>Python</li>
      <li>Perl</li>
    </ul>
    </p>

    <h2>Previous clients</h2>
    <p>
    Some of the previous clients:
Actelis,
Aladdin Knowledge Systems,
Amdocs,
Apply Tech,
Assa Abloy (Rav Bariach),
Bezeq International,
BGU/Deutsche Telekom (Israel),
Breach,
Brodmann17,
Cellex,
CEVA DSP,
Cisco,
Checkpoint,
Deutsche Telekom (Germany),
DNV Norway,
Evogene,
ExLibris,
Forescout,
Harmonic systems,
iCarbonX,
Inomize,
Intel,
Iskoot,
Jovial,
LSI,
Mercury Interactive,
Migdal Insurance,
MyThings,
NDS,
Norwegian Meteorological Inst,
Orange (Partner Ltd.),
Orpak,
Perfecto Mobile,
Qualcomm,
Radware,
Sandvine,
SAP,
Screenovate,
SeaBridge Networks - A Siemens company,
Sheer Networks,
Superfish,
Superfly,
Twiggle,
Verint,
Weizmann Institute of Science,
Zoran
    </p>

{% include 'incl/contact.html' %}

{% include 'incl/footer.html' %}

