<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>Hostlocal LTD. - System and Network administration</title>
</head>

<table width=80% align=center border=0 cellspacing=5>
<tr>
	<td  align=center><b>Infrastructure Management</b>

	</td>
</tr>
<tr>
<td  ><hr width=80%  color=#006699>
</td>
</tr>

<tr>
<td>



		We provide services in the setup and maintenance in all areas of Computer
		Infrastructure Management, specifically for the following applications:

<ul>
    	 <li><b>Internet connection</b><br>
		    for the whole office on a single modem/ISDN/ADSL connection or on Frame
			Relay or Sifranet.<br>(We provide the all the help needed with the various
			providers like Barak, Netvision, Internet Zahav etc.)
		<p>
		 <li><b>Firewall</b><br>
		     Even if you only have a single dial-up connection with a modem your
			computers are vulnarable to attacks from the Internet. In order to secure your
			computers and the data on it we can setup a firewall for you and we keep it
			up-to date so you don't need to worry about the thousends of script-kids whom
			are out there and want to break into your computers just for fun.<br>
		<p>
		<li><b>Mail server</b><br>
		    We can setup a mail server in your office or we can keep your mail on our
			servers. From now on every one in the office can have his own e-mail address
			and you won't have to pay for each address separately.
		    <p>
		<li><b>File server</b><br>
		    If you would like to keep all your data on a single central machine so it
			can easily backed up you'll need a file server.
		    <p>
		<li><b>Local Network</b><br>
		    Connect your computers into a single network in the office.
		    <p>
		<li><b>Remote Administration</b><br>
		    Most of the administrative tasks we'll be able to without comming to your
		office. 
		    This saves time and money for you.
		    <p>
		</ul>
</td>
</tr>
</table>
</body>
</html>
