<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">

<title>Hostlocal Ltd. Perl development and training</title>
</head>
<body >

<table width=80% align=center border=0 cellspacing=5>
<tr>
	<td  align=center><b>Hostlocal Ltd. Perl development and training</b>
	</td>
</tr>
<tr>
<td  ><hr width=80%  color=#006699>
</td>
</tr>

<tr>
<td>
Hostlocal provides Perl development and training.
<p>
Now all courses are provided via <a href="http://pti.co.il/">PTI - Perl Training Israel</a>
ran by <a href="https://szabgab.com/">Gabor Szabo international Perl trainer</a>.

<p>
Gabor is maintaining the Perl community site in Israel at <a href=http://perl.org.il/>www.perl.org.il</a>.

</td>
</tr>
</table>
</body>
</html>






