{% include 'incl/header.html' %}
  <div>

    {% include 'incl/schedule.html' %}

    <h2>Available training courses for Perl programmers</h2>
    <p>
    <ul>
      <li><a href="/eng/perl">Perl Programming (beginner level)</a></li>
      <li><a href="/eng/testing-perl">Perl Testing</a></li>
    </ul>

    <ul>
      <li><a href="/eng/git">Version control with Git for Perl programmers</a></li>
      <li><a href="/eng/advanced-git">Advanced Git, methodologies and workflows for Perl programmers</a></li>
      <li><a href="/eng/github">Using GitHub for Perl-based projects</a></li>

      <li><a href="/eng/regexes">Learning Regular Expressions in Perl</a></li>
    </ul>
    </p>


{% include 'incl/contact.html' %}

{% include 'incl/footer.html' %}

