{% include 'incl/header.html' %}
  <div>

{% include 'incl/schedule.html' %}

    <h2>Available training courses for Python programmers</h2>
    <p>
    <ul>
      <li><a href="/eng/python-programming">Python Programming</a> (beginner level)</li>
      <li><a href="/eng/advanced-python">Python: Advanced Python Programming</a></li>
      <li><a href="/eng/testing-python">Python: Testing and test-automation in Python</a></li>
    </ul>

    <ul>
      <li><a href="/eng/git">Version control with Git for Python programmers</a></li>
      <li><a href="/eng/advanced-git">Advanced Git, methodologies and workflows for Python programmers</a></li>
      <li><a href="/eng/github">Using GitHub for Python-based projects</a></li>

      <li><a href="/eng/regexes">Learning Regular Expressions in Python</a></li>
    </ul>
    </p>


{% include 'incl/contact.html' %}

{% include 'incl/footer.html' %}

