{% include 'incl/header.html' %}
  <div>

{% include 'incl/schedule.html' %}

    <h2>Available training courses for Rust</h2>
    <p>
    <ul>
      <li><a href="/eng/rust">Rust programming</a> (beginner level)</li>
    </ul>

    <ul>
      <li><a href="/eng/git">Version control with Git for Rust programmers</a></li>
      <li><a href="/eng/advanced-git">Advanced Git, methodologies and workflows for Rust programmers</a></li>
      <li><a href="/eng/github">Using GitHub for Rust-based projects</a></li>

    </ul>
    </p>


{% include 'incl/contact.html' %}

{% include 'incl/footer.html' %}

