<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">

<title>Hostlocal Ltd. - staff</title>
</head>
<body >

<table width=80% align=center border=0 cellspacing=5>
<tr>
	<td  align=center><b>Hostlocal Ltd. - staff</b>

	</td>
</tr>
<tr>
<td  ><hr width=80%  color=#006699>
</td>
</tr>

<tr>
<td>
<a href="http://www.szabgab.com/">Gabor Szabo</a> the owner of Hostlocal Ltd. has been working in the IT industry since 1993.
<p>
Gabor has already won a programming award in his high-school years. 
Since then he has earned his BSc. in Computer Sciences and his MBA in Information Technology 
both from the Hebrew University of Jerusalem.
<p>
Since finishing the University Gabor has been working as programmer and system administrator till 
1999 when he started his own company.
<p>
Gabor has been using Perl since 1995 when he developed his first cgi web interface for 
a configuation management system. You can find the full <a href="http://www.szabgab.com/download/printable_cv.html">CV of Gabor Szabo</a>
<p>
Public sites Gabor is maintaining:<br>
<a href="http://www.perl.org.il/">Community site for Perl in Israel</a><br>
<a href="http://www.perltraining.org/">Directory of Perl training companies world wide</a>

</td>
</tr>


</table>
</body>
</html>
